.sticky {
    position: sticky;
    top: 20px;
}

.hover-color:hover{
    background-color: #98BBD2;
    cursor: pointer;
    color: white;
}

.drink-title{
    display: flex;
    justify-content: space-between;
}


/* Media Queries */
@media screen and (max-width: 770px){
    .switch {
        flex-direction: column-reverse;
        display:flex;
    }
}